

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600, 600i');
html, body {
    height: 100%;
    /* overflow: hidden; */
}
body {
/*     background: #112940; */
}

h1, h2, h3, h4 {
    font-weight: 300;
    display: block;
}

.form-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
form {
    background: #fff;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 45px 25px -25px #0c1c2c;
}

.form, .open {
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 500ms;
}
.resultForm {
    max-width: 55%;
}
.hide {
    animation-name: bounceIn;
    position: absolute;
    visibility: hidden;
    height: 0;
    opacity: 0;
    pointer-events: none;
}
label {
    text-transform: uppercase;
    font-size: 10px;
    font-size: 0.625rem;
    line-height: 25px;
    color: #888;
    letter-spacing: 1px;
}
.form-content {
    display: flex;
    flex-flow: column wrap;
}
.col {
    display: flex;
    flex-direction: row;
}
.col .row {
    margin-right: 20px;
    width: 50%;
}
.col .row:last-child {
    margin-right: 0;
}
.actions {
    margin-top: 50px;
}
input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 400;
    outline: none;
    padding: 10px;
    height: 44px;
    margin-bottom: 30px;
    transition: border 0.25s ease-in-out;
}
input::placeholder {
    opacity: 0.5;
}
input:focus {
    border: 1px solid #b7b7b7;
}
.button {
    background-color: #54732d;
    color: #fff;
    border-radius: 3px;
    border: 0 none;
    padding: 10px 20px;
    outline: none;
    font-size: 16px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    height: 50px;
    transition: opacity 0.3s ease-in-out;
}
.button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}
.button:disabled:hover {
    background-color: #54732d;
}
.button:hover {
    background-color: #4c6829;
}
.phrase {
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 30px;
    font-size: 1.125rem;
}
.align-right {
    float: right;
    line-height: 44px;
}
a {
    color: #086b94 !important;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.app-wrapper {
    display: flex;
    height: 100%;
}
#root {
    height: 100%;
}
br {
    line-height: 40px;
}
.align-left {
    float: left;
}
.unique {
    font-size: 25px;
    font-size: 1.5625rem;
}